---
import config from "@/config/config.json";
import { markdownify } from "@/lib/utils/textConverter";

type Props = {
  email: string;
};

const { copyright } = config.params;
const { email } = Astro.props;
---

<footer class="py-6">
  <div class="px-6">
    <div class="flex flex-col md:flex-row items-center gap-4">
      <div class="flex-1">
        <a href="/" class="flex items-center gap-2">
          <span class="text-lg font-primary text-text-light tracking-tight"
            >Kaleidoscope MT</span
          >
        </a>
      </div>
      <a
        href={`mailto:${email}`}
        class="text-sm text-text hover:text-secondary transition"
      >
        {email}
      </a>
      <p class="text-sm text-text/60" set:html={markdownify(copyright)} />
    </div>
  </div>
</footer>
