---
import { markdownify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";

type Props = {
  philosophy: CollectionEntry<"homepage">["data"]["philosophy"];
};

const { philosophy } = Astro.props;
---

<section
  class="section bg-linear-to-b from-[#0b2c6b] to-transparent"
  id="about"
>
  <div class="container">
    <div class="flex justify-center text-center max-w-5xl w-full p-10 mx-auto">
      <div class="max-w-2xl">
        <p
          class="text-3xl tracking-tighter font-secondary [&>strong]:font-tertiary [&>strong]:tracking-normal [&>strong]:italic [&>strong]:block [&>strong]:font-normal md:text-3xl lg:text-4xl text-text-light/90 mb-10 leading-snug text-balance"
          set:html={markdownify(philosophy.opening)}
          data-aos="fade-up-sm"
        />
        <p
          class="text-lg md:text-base text-text leading-relaxed mb-8 font-primary text-balance"
          set:html={markdownify(philosophy.body)}
          data-aos="fade-up-sm"
          data-aos-delay="50"
        />
        <p
          class="text-lg md:text-xl text-text-light font-medium font-secondary text-balance"
          set:html={markdownify(philosophy.closer)}
          data-aos="fade-up-sm"
          data-aos-delay="100"
        />
      </div>
    </div>
  </div>
</section>
