---
import { markdownify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";

type Props = {
  pillars: CollectionEntry<"homepage">["data"]["pillars"];
};

const { pillars } = Astro.props;
---

<section class="section pt-0">
  <div class="container">
    <div class="flex justify-center">
      <div class="w-full max-w-5xl">
        <div
          class="grid grid-cols-1 md:grid-cols-3 gap-2 p-2 glass rounded-lg bg-accent/20"
        >
          {
            pillars.map((pillar: any, index: number) => (
              <div
                class:list={[
                  "p-6 border-l-4 bg-background",
                  [
                    "border-primary",
                    "border-secondary",
                    "border-primary-tint-1",
                  ][index],
                ]}
                data-aos="fade-up-sm"
                data-aos-delay={index * 100}
              >
                <h3
                  set:html={markdownify(pillar.keyword)}
                  class="text-xl md:text-2xl font-secondary text-text-light mb-8"
                />
                <p
                  set:html={markdownify(pillar.description)}
                  class="text-base text-text-light leading-relaxed font-primary opacity-80"
                />
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
